<!doctype html>
<html lang="{{site.lang}}">

  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://github.com/pglevy/tweetto-burrito">
    <meta property="og:title" content="TWEETTO BURRITO">
    <meta property="og:description" content="A “tweet this” link generator to make it super-simple for your audience to shout you out on Twitter">
    <meta property="og:image" content="https://raw.githubusercontent.com/pglevy/tweetto-burrito/main/assets/img/tweetto.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://github.com/pglevy/tweetto-burrito">
    <meta property="twitter:title" content="TWEETTO BURRITO">
    <meta property="twitter:description" content="A “tweet this” link generator to make it super-simple for your audience to shout you out on Twitter">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/pglevy/tweetto-burrito/main/assets/img/tweetto.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.13.0/js/uswds-init.min.js" integrity="sha512-CERRusk3iiaHwELaoxK7Q70UHH6ifSJKSrq3Cfk/TsZooDq7sJYsRCPLdP3YMnTfr3LoeTALPlkpC6g+F6w1Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.13.0/css/uswds.min.css" integrity="sha512-xPiQTrgCMM1wa1zTNF7c0y/VRMVx2MeI6pVYWCdlv0JtKN/Utnr4rslFX0WuyYnkPh4+1U7abC0JHhsJ7AF/EA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  </head>

  <body class="{{ page.body-style }}">
    {% if page.header %}{% include basic-header.html %}{% endif %}
    <main id="main-content">
      <div class="grid-container{% if page.prose %} usa-prose padding-top-4{% endif %}">
        {{ content | markdownify }}
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.13.0/js/uswds.min.js" integrity="sha512-1Niw6TYjCyuUjgapoQ7uaGTQ6IoIvnAhXK3m6/IdDE79SC3Bs3Rjr7gIfj+WPUtabJPIrIc0Mfrs0joIWviF1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
  
</html>